[submodule "Dependencies/NAudio"]
	path = Dependencies/NAudio
	url = https://github.com/Milkitic/NAudio.git
[submodule "Dependencies/NVorbis"]
	path = Dependencies/NVorbis
	url = https://github.com/Coosu/NVorbis.git
